html, body{
  /*display: inline-flex;*/
  overflow-x:hidden;
  max-width: 100%;
  width: 100%;
  border: 1px solid black;
}

.contentHeader{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  text-align: center;
  color: white;
}

#economy{
  color: black;
  height: 100vh;
  width: 100%;
  background-color: #B71427;
  position: relative;
}

.contentEconomy{
  position: absolute;
  text-align: center;
  background-color: #FFE658;
  width: 75%;
  height: 60%;
  top: 20%;
  left: 25%
}

#entrepe{
  color: black;
  height: 100vh;
  width: 100%;
  background-color: #FFE658;
  position: relative;
}

.contentEntrepe{
  position: absolute;
  text-align: center;
  background-color: #6D8DD6;
  width: 75%;
  height: 60%;
  top: 20%;
  left: 0;
}

#objective{
  color: black;
  height: 100vh;
  width: 100%;
  background-color: #6DBDD6;
  position: relative;
}

.contentObjective{
  position: absolute;
  text-align: center;
  background-color: #B71427;
  width: 75%;
  height: 60%;
  top: 20%;
  left: 25%;
}

.contentPartners{
  color: white;
  height: 100vh;
  width: 100%;
  background-color: black;
}

h5{
  font-family: 'Raleway', sans-serif !important;
}

#main {
  font-family: 'Oswald', sans-serif !important;
	background: linear-gradient(to bottom, rgba(0,0,0,0.66) 100%, transparent), url();
	background-size: cover, cover;
	background-position: center, center;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
  left: 1%;
}

h1 {
	font-size: 5.5rem !important;
	display: inline-block;
	padding: 1rem;
	font-weight: 400;
	position: relative;
	opacity: 1;
	transform: scale(1);
	transition: transform 0.5s ease, opacity 1s ease;
}

.is-loading h1 {
	transform: scale(0.9);
	opacity: 0;
}

h1:before,
h1:after {
	height: 2px;
	width: 100%;
	content: "";
	background: white;
	display: block;
	position: absolute;
	transition: width 0.4s ease;
	transition-delay: 0.8s;
}

h1:before {
	top: 0;
	left: 0;
}

h1:after {
	bottom: 0;
	right: 0;
}

.is-loading h1:before,
.is-loading h1:after {
	width: 0;
}

#main2 {
  font-family: 'Oswald', sans-serif !important;
  color: white;
	display: flex;
	justify-content: center;
	align-items: center;
  left: 1%;
}

h2 {
  width: 100%;
	font-size: 2.5rem !important;
	display: inline-block;
	padding: 1rem;
	font-weight: 400;
	position: relative;
	opacity: 1;
	transform: scale(1);
	transition: transform 0.5s ease, opacity 1s ease;
}

.is-loading h2 {
	transform: scale(0.9);
	opacity: 0;
}

h2:before,
h2:after {
	height: 2px;
	width: 100%;
	content: "";
	background: white;
	display: block;
	position: absolute;
	transition: width 0.4s ease;
	transition-delay: 0.8s;
}

h2:before {
	top: 0;
	left: 0;
}

h2:after {
	bottom: 0;
	right: 0;
}

.is-loading h2:before,
.is-loading h2:after {
	width: 0;
}

#main3 {
  font-family: 'Oswald', sans-serif !important;
  color: white;
	display: flex;
	justify-content: center;
	align-items: center;
  left: 1%;
}

#main4 {
  font-family: 'Oswald', sans-serif !important;
  color: white;
	display: flex;
	justify-content: center;
	align-items: center;
  left: 1%;
}

#main5 {
  font-family: 'Oswald', sans-serif !important;
  color: white;
	display: flex;
	justify-content: center;
	align-items: center;
  left: 1%;
}

#arrows {
	width: 80px;
	height: 92px;
	position: absolute;
	left: 50%;
	margin-left: -90px;
	bottom: 20px;
}

#arrows path {
	stroke: #FFFFFF;
	fill: transparent;
	stroke-width: 3px;
}

.arrows {
	width: 80px;
	height: 92px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 10%;
}

.arrows path {
	stroke: #FFFFFF;
	fill: transparent;
	stroke-width: 3px;
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}
